ipykernel==6.9.1
simpleitk==2.2.1
scipy==1.9.1
matplotlib==3.6.3
torch==1.12.1
torchvision==0.13.1
nibabel==2.4.1
future==0.18.2
threadpoolctl==2.1.0
tensorboard_logger==0.1.0
tensorboard==2.9.0
tensorflow==2.9.1
future==0.18.2
threadpoolctl==2.1.0
pandas==1.5.2
scikit-image==0.19.3
einops==0.6.0
timm==0.6.12
numpy==1.22.0
